body, html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

*{
    box-sizing: border-box;
}

.bg-theme {
    background-color: #af2318 !important;
}

.text-theme {
    color: #af2318 !important;
}

input, select {
    border: 0.15rem solid #d3d3d362;
    outline: 0;
    border-radius: 0.5rem;
    background-color: white;
}

input:focus, select:focus {
    border-color: #af2318;
}

input::placeholder, select::placeholder {
    color: lightgrey;
    opacity: 0.8;
}

.checkbox {
    position: relative;
    left: -1rem;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkbox .check {
  position: absolute;
  top: 0;
  left: 0;
  height: 1rem;
  width: 1rem;
  margin-right: 1rem;
  border-radius: 1rem;
  border: 0.1rem solid #af2318;
  background-color: transparent;
  cursor: pointer;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .check {
  background-color: #af2318;
}

/* Create the checkmark/indicator (hidden when not checked) */
.check:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .check:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .check:after {
  left: 0.3rem;
  top: 0.15rem;
  width: 0.25rem;
  height: 0.5rem;
  border: solid white;
  border-width: 0 0.1rem 0.1rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mute {
    background-color: transparent;
    outline: none;
}

h1,h2,h3,h4{
    margin: 0;
    padding:10px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
img{
    max-width: 100%;
}
.page-wrapper{
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    background-color: #af2318;
    padding: 15px;
    min-height: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.text-center{
    text-align: center;
}

.btn{
    display: inline-block;
    min-width: 130px;    
    text-align: center;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;    
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.btn:hover, .btn:focus{
    opacity: .8;
    outline: none;
}
.btn-solid.btn-brown{
    background-color: #af2318;
    color: white;
}

.btn-outline.btn-brown{
    background: white;
    color: #af2318;
    padding: 9px;
    border: 1px solid #af2318;
}

.btn:hover, .btn:focus{
    opacity: 0.8;
}

p{
    font-family: 'Open Sans', sans-serif;
}

.height100{
    height: 100px;
}

.divider{
    width: 100%;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

input[type="text"], input[type="email"],input[type="password"],select, input[type="number"]{
    width: 100%;
    padding: 0.7rem;
}

label{
    display: block;    
}

.half{
    width:50%;
    float: left;
}

.full{
    width: 100%;
}

.half.first{
    padding-right: 15px;
}

.half:not(.first){
    padding-left: 15px;
}

.form-field{
    margin:10px 0;
}

.btn-outline.btn-green{
    border:1px solid #188c25;
    padding: 9px;
    background-color: white;    
    color: #188c25;
}

.btn-solid.btn-blue{
    background-color: #185caf;
    color: white;
}

.clearfix{
    clear: both;
    float: none;
}

.btn img{
    margin-right: 10px;
}

table{
    border-collapse: collapse;
}

.uneditable input, .uneditable select{
    pointer-events: none;
    border: none;
}

.divider{
    width: 100%;
    height:2px;
    border-bottom: 1px solid #af2318;
}

ul{
    list-style-type: none;
    padding-left: 0;
}