.splash .logo{
    max-width: 300px;
    margin:0 auto;
}

.triangle-back{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    min-height: 200px;
    background-image: url('./images/triangles-back.png');
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
}

.splash .page-wrapper{
    background-color: white;
}

.page-content{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 65vh;
    margin-top: 5vh;
}