{% extends 'base_page.html' %}

{% block content %}
<div class="step active" id="step1">
    <h3>Account</h3>
    <div class="profile-section text-center">
        <img src="./static/images/user-2x.png" alt="User">
        <a href="#" class="btn btn-solid btn-brown rounded-lg">Manage Account</a>
        <a href="/logout" class="btn brown-color" id="logout_btn">Logout</a>
        <div class="membership">{{ plan }}</div>
    </div>
    <div class="form-wrapper uneditable">
        <div class="form-field full">
            <label>Name</label>
            <h4><strong>{{ first_name }} {{ last_name }}</strong></h4>
        </div>
        <div class="form-field full">
            <label>Email</label>
            <h4><strong>{{ email }}</strong></h4>
        </div>
        <div class="form-field full">
            <label>Company</label>
            <h4><strong>{{ company_name }}</strong></h4>
        </div>
        <!-- <div class="form-field full">
            <label>Base Currency</label>
            <h4><strong>{{ base_currency }}</strong></h4>
        </div> -->
        <div class="divider"></div>
        <h3>Previous Reports</h3>
        <ul class="previous-reports">
            {% for report in reports %}
            <li class="full">
                <a href="{{ url_for('report_page', id=report.id) }}">
                    {{ report.created }}
                    <img class="float-right" src="./static/images/arrow-right.png" alt="" />
                </a>
            </li>
            {% endfor %}
        </ul>
        <a class="btn btn-outline btn-brown full">View All Reports</a>
    </div>
</div>
{% endblock %}