{% extends 'base_page.html' %}

{% block content %}
<div class="step active" id="step1">
    <h3>Enter Exposure</h3>
    <div class="form-wrapper">
        <div class="exposure-table">
            <table id="exposure-table" class="full">
                <thead>
                    <tr>
                        <td class="w-25">Liability Currency</td>
                        <td class="w-25">Asset Currency</td>
                        <td class="w-50">Amount In Base Currency (USD)</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="py-3">
                        <td class="w-25">
                            <strong>
                                <select name="short[]" class="mute">
                                    {% for each in rates %}
                                    <option val={{ each }}>{{each}}</option>
                                    {% endfor %}
                                </select>
                            </strong>
                        </td>
                        <td class="w-25">
                            <strong>
                                <select name="long[]" class="mute">
                                    {% for each in rates %}
                                    <option val={{ each }}>{{each}}</option>
                                    {% endfor %}
                                </select>
                            </strong>
                        </td>
                        <td class="w-50">
                            <strong>
                                <input type="number" name="amount[]" class="mute" />
                            </strong>
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="hidden" id="exposure_row_hidden"
                value='<tr><td><select name="short[]" class="mute">{% for each in rates %}<option val={{ each }}>{{each}}</option>{% endfor %}</select></td><td><select name="long[]" class="mute">{% for each in rates %}<option val={{ each }}>{{each}}</option>{% endfor %}</select></td><td><input type="number" name="amount[]" class="mute"></td></tr>' />
        </div>
        <div class="half first"><a href="#" class="btn btn-brown btn-outline full" onclick="addExposureRow()"><img
                    src="./static/images/plus.png" alt="Save" />Add More Rows</a>
        </div>
        <div class="half"><a href="#" class="btn btn-blue btn-solid full">CSV Upload</a></div>
        <div class="clearfix"></div>
        <br />
        <h4>Choose Time Horizon</h4>
        <div class="form-field half first">
            <label for="time_horizon">Time Horizon</label>
            <select class="element-border" id="time_horizon" name="time_horizon">
                {% for each in [7, 14, 30, 60, 90, 120, 180, 365] %}
                <option val="{{each}}days">{{ each }} Days</li>
                {% endfor %}
            </select>
        </div>
        <div class="clearfix"></div>
        <br />
        <h4>Choose Confidence Level</h4>
        <div class="form-field half first">
            <label for="confidence_level">Confidence Level</label>
            <select class="element-border" id="confidence_level" name="confidence_level">
                {% for each in [95, 90, 85, 80] %}
                <option val="{{each}}%">{{ each }}%</li>
                {% endfor %}
            </select>
        </div>
        <div class="clearfix"></div>
        <br />
        <div class="half first"><a href="#" class="btn btn-green btn-outline full"><img src="./static/images/save.png"
                    alt="Save" />Save</a></div>
        <div class="half"><a href="{{ url_for('report_page') }}" class="btn btn-brown btn-solid full"><img
                    src="./static/images/calculator-icon.png" alt="Calculate" />Calculate</a></div>
    </div>
</div>
{% endblock %}