{% extends 'base_page.html' %}

{% block content %}
<form id="form_payment" action="" method="POST">
    <div id="step3" class="step px-3">
        <a href="#" class="float-left text-theme" onclick="showStep('step2')">
            <img src="./static/images/arrow-left.png" alt="" />
        </a>
        <strong class="float-right text-theme">3/3</strong>
        <br />
        <h3>Enter Payment Info</h3>
        <form id="payment" onchange="return toggleCreditCardForm()">
            <ul>
                <li>
                    <label class="checkbox">
                        <input type="radio" name="payment_method" value="credit-card" aria-label="Credit Card" />
                        <span class="check"></span>
                    </label>
                    <span class="ml-3">Credit Card</span>
                </li>
                <li>
                    <label class="checkbox">
                        <input type="radio" name="payment_method" value="paypal" aria-label="PayPal" />
                        <span class="check"></span>
                    </label>
                    <span class="ml-3">PayPal</span>
                </li>
            </ul>
        </form>
        <form class="form-wrapper d-none" id="cc_form" action="#">
            <div class="form-field half first">
                <label for="first_name">First Name *</label>
                <input class="element-border" type="text" id="first_name_cc" name="first_name_cc"
                    placeholder="Your First Name" autocomplete="cc-given-name" />
            </div>
            <div class="form-field half">
                <label for="last_name">Last Name *</label>
                <input class="element-border" type="text" id="last_name_cc" name="last_name_cc" placeholder="Your Last Name"
                    autocomplete="cc-family-name" />
            </div>
            <div class="form-field full">
                <label for="card_number">Card Number</label>
                <input class="element-border" type="text" id="cc_number" name="cc_number" placeholder="4111 1111 1111 1111"
                    autocomplete="cc-number" />
            </div>
            <div class="form-field half first">
                <label for="expiry_month">Expiry *</label>
                <select class="element-border" id="expiry_month" name="expiry_month" autocomplete="cc-exp-month">
                    <option>Month</option>
                    {% for each in range(1, 13) %}
                    <option val={{ each }}>{{each}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-field half">
                <label for="expiry_year">&nbsp;</label>
                <select class="element-border" id="expiry_year" name="expiry_year" placeholder="Expiry Year"
                    autocomplete="cc-exp-year">
                    <option>Year</option>
                    {% for each in range(2000, 2050) %}
                    <option val={{ each }}>{{each}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-field full">
                <label for="cvv">CVV</label>
                <input class="element-border" type="password" size="3" pattern="[0-9]{3}" id="cvv" name="cvv"
                    placeholder="***" autocomplete="cc-csc" />
            </div>
        </form>
        <div class="half first">
            <a href="#" class="btn btn-brown btn-outline full" onclick="return showStep('step2')">Previous</a>
        </div>
        <div class="half">
            <button
                type="submit" 
                form="#form_payment" 
                class="btn btn-brown btn-solid full" 
                href="{{ url_for('enter_exposure_page') }}"
            >
                Next
            </button>
        </div>
    </div>
</form>

{% endblock %}