{% extends 'base_page.html' %}

{% block content %}
<form id='form_register' name='form_register' class="form-wrapper" action="" method="POST">
    <div class="step active" id="step1">
        <strong class="float-right text-theme">1/3</strong>
        <h3>Enter Information</h3>
        <div class="form-field half first">
            <label for="first_name">First Name</label>
            <input class="element-border" type="text" id="first_name" name="first_name" placeholder="Your First Name"
                autocomplete="given-name" required />
        </div>
        <div class="form-field half">
            <label for="last_name">Last Name</label>
            <input class="element-border" type="text" id="last_name" name="last_name" placeholder="Your Last Name"
                autocomplete="family-name" required />
        </div>
        <div class="form-field full">
            <label for="email">Email ID</label>
            <input class="element-border" type="email" id="email" name="email" placeholder="abc@example.com"
                autocomplete="email" required />
        </div>
        <div class="form-field full first">
            <label for="password">Password</label>
            <input class="element-border" type="password" id="password" name="password" placeholder="********"
                autocomplete="new-password" required />
        </div>
        <div class="form-field full">
            <label for="company_name">Company Name</label>
            <input class="element-border" type="text" id="company_name" name="company_name" placeholder="Your Company"
                autocomplete="organization" required />
        </div>
        <div class="form-field full">
            <label for="address">Address</label>
            <input class="element-border" type="text" id="address" name="address" placeholder="123 street"
                autocomplete="street-address" required />
        </div>
        <div class="form-field full">
            <label for="phoneno">Phone Number</label>
            <input class="element-border" type="text" id="phoneno" name="phoneno" placeholder="555 55 55555"
                autocomplete="mobile" required />
        </div>
        <div class="form-field full">
            <label for="base_currency">Base Currency</label>
            <select class="element-border" id="base_currecy" name="base_currency" autocomplete="transaction-currency">
                {% for each in currencies %}
                <option val={{ each }}>{{each}}</option>
                {% endfor %}
            </select>
        </div>
        <a href="#" class="btn btn-brown btn-solid full" onclick="return showStep('step2')">Next</a>
    </div>
    <div class="step" id='step2'>
        <a href="#" class="float-left text-theme" onclick="showStep('step1')">
            <img src="./static/images/arrow-left.png" alt="" />
        </a>
        <strong class="float-right text-theme">2/3</strong>
        <br />
        <h3>Choose Plan</h3>
        <div>
            <strong>Free</strong>
            <span class="float-right">
                <label class="checkbox">
                    <input type="radio" checked="checked" name="plan" value="free" aria-label="Free" />
                    <span class="check"></span>
                </label>
            </span>
        </div>
        <div class="plan card py-1 my-2">
            {% for each in [
                    "FX Exposure Consolidation",
                    "FX Portfolio - Value at Risk (up to 5 Currency Pairs)",
                    "1 Time Horizon"
                ] %}
            <div><i class="fas fa-check text-theme ml-3 mr-3"></i>{{each}}</div>
            {% endfor %}
            <div>
                <div class="float-right mr-2 text-success">Free</div>
            </div>
        </div>
        <br />
        <div>
            <strong>Premium</strong>
            <span class="float-right">
                <label class="checkbox">
                    <input type="radio" name="plan" value="premium" aria-label="Premium" />
                    <span class="check"></span>
                </label>
            </span>
        </div>
        <div class="plan card py-1 my-2">
            {% for each in [
                    "FX Exposure Consolidation",
                    "FX Portfolio - Value at Risk (up to 20 Currency Pairs)",
                    "3 Time Horizon",
                    "Ability to save and access previous reports",
                    "Trade Suggestions to minimize risk (2 scenarios)",
                    "Trading Partners Rate Comparison (2)",    
                ] %}
            <div><i class="fas fa-check text-theme ml-3 mr-3"></i>{{each}}</div>
            {% endfor %}
            <div>
                <div class="float-right mr-3 text-success">$19.99/Month</div>
            </div>
        </div>
        <br />
        <div>
            <strong>Business</strong>
            <span class="float-right">
                <label class="checkbox">
                    <input type="radio" name="plan" value="business" aria-label="Business" />
                    <span class="check"></span>
                </label>
            </span>
        </div>
        <div class="plan card py-1 my-2">
            {% for each in [
                    "FX Exposure Consolidation",
                    "FX Portfolio - Value at Risk (no limit on Currency Pairs)",
                    "8 Time Horizon",
                    "Ability to save and access previous reports",
                    "Trade Suggestions to minimize risk (2 scenarios)",
                    "Trading Partners Rate Comparison (4)",
                    "Exposure Heat Map Report",
                ] %}
            <div><i class="fas fa-check text-theme ml-3 mr-3"></i>{{each}}</div>
            {% endfor %}
            <div>
                <div class="float-right mr-3 text-success">$49.99/Month</div>
            </div>
        </div>
        <br />
        <div class="half first">
            <a href="#" class="btn btn-brown btn-outline full" onclick="return showStep('step1')">Previous</a>
        </div>
        <div class="half">
            <input type='submit' class="btn btn-brown btn-solid full" value="Next" />
        </div>
    </div>
</form>
{% endblock %}