{% extends 'base_page.html' %}

{% block content %}
<div class="step active" id="step1">
    <strong class="float-right text-theme">1/3</strong>
    <h3>Enter Information</h3>
    <div class="form-wrapper">
        <div class="form-field half first">
            <label for="first_name">First Name</label>
            <input type="text" id="first_name" name="first_name" placeholder="Your First Name" />
        </div>
        <div class="form-field half">
            <label for="last_name">Last Name</label>
            <input type="text" id="last_name" name="last_name" placeholder="Your Last Name" />
        </div>
        <div class="form-field full first">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="********" />
        </div>
        <div class="form-field full">
            <label for="company_name">Company Name</label>
            <input type="text" id="company_name" name="last_name" placeholder="Your Company" />
        </div>
        <div class="form-field full">
            <label for="company_name">Address</label>
            <input type="text" id="address" name="address" placeholder="123 street" />
        </div>
        <div class="form-field full">
            <label for="phoneno">Phone Number</label>
            <input type="text" id="phoneno" name="phoneno" placeholder="555 555 5555" />
        </div>
        <div class="form-field full">
            <label for="base_currency">Base Currency</label>
            <select>
                {% for each in rates %}
                <option val={{ each }}>{{each}}</option>
                {% endfor %}
            </select>
        </div>
        <a href="#" class="btn btn-brown btn-solid full" onclick="showStep('step2')">Next</a>
    </div>
</div>
<div class="step" id="step2">
    <strong class="float-right text-theme">2/3</strong>
    <h3>Choose Plan</h3>
    <div>
        <strong>Free</strong>
        <span class="float-right">
            <label class="checkbox">
                <input type="radio" checked="checked" name="plan" value="free" aria-label="Free" />
                <span class="check"></span>
            </label>
        </span>
    </div>
    <div class="plan card py-1 my-2">
        {% for each in [
            "FX Exposure Consolidation",
            "FX Portfolio - Value at Risk (up to 5 Currency Pairs)",
            "1 Time Horizon"
        ] %}
        <div><i class="fas fa-check text-theme ml-3 mr-3"></i>{{each}}</div>
        {% endfor %}
        <div><div class="float-right mr-2 text-success">Free</div></div>
    </div>
    <br />
    <div>
        <strong>Premium</strong>
        <span class="float-right">
            <label class="checkbox">
                <input type="radio" name="plan" value="premium" aria-label="Premium" />
                <span class="check"></span>
            </label>
        </span>
    </div>
    <div class="plan card py-1 my-2">
        {% for each in [
            "FX Exposure Consolidation",
            "FX Portfolio - Value at Risk (up to 20 Currency Pairs)",
            "3 Time Horizon",
            "Ability to save and access previous reports",
            "Trade Suggestions to minimize risk (2 scenarios)",
            "Trading Partners Rate Comparison (2)",    
        ] %}
        <div><i class="fas fa-check text-theme ml-3 mr-3"></i>{{each}}</div>
        {% endfor %}
        <div><div class="float-right mr-3 text-success">$19.99/Month</div></div>
    </div>
    <br />
    <div>
        <strong>Business</strong>
        <span class="float-right">
            <label class="checkbox">
                <input type="radio" name="plan" value="business" aria-label="Business" />
                <span class="check"></span>
            </label>
        </span>
    </div>
    <div class="plan card py-1 my-2">
        {% for each in [
            "FX Exposure Consolidation",
            "FX Portfolio - Value at Risk (no limit on Currency Pairs)",
            "8 Time Horizon",
            "Ability to save and access previous reports",
            "Trade Suggestions to minimize risk (2 scenarios)",
            "Trading Partners Rate Comparison (4)",
            "Exposure Heat Map Report",
        ] %}
        <div><i class="fas fa-check text-theme ml-3 mr-3"></i>{{each}}</div>
        {% endfor %}
        <div><div class="float-right mr-3 text-success">$49.99/Month</div></div>
    </div>
    <br />
    <div class="half first">
        <a href="#" class="btn btn-brown btn-outline full" onclick="return showStep('step1')">Previous</a>
    </div>
    <div class="half">
        <a href="#" class="btn btn-brown btn-solid full" onclick="return showStep('step3')">Next</a>
    </div>
</div>
<div id="step3" class="step">
    <strong class="float-right text-theme">3/3</strong>
    <h3>Enter Payment Info</h3>
    <ul>
        <li>
            <label class="checkbox">
                <input type="radio" name="payment_method" value="credit-card" aria-label="Credit Card" />
                <span class="check"></span>
            </label>
            <span class="ml-3">Credit Card</span>
        </li>
        <li>
            <label class="checkbox">
                <input type="radio" name="payment_method" value="paypal" aria-label="PayPal" />
                <span class="check"></span>
            </label>
            <span class="ml-3">PayPal</span>
        </li>
    </ul>
    <div class="form-wrapper">
        <div class="form-field half first">
            <label for="first_name">First Name *</label>
            <input type="text" id="first_name" name="first_name" placeholder="Your First Name" required />
        </div>
        <div class="form-field half">
            <label for="last_name">Last Name *</label>
            <input type="text" id="last_name" name="last_name" placeholder="Your Last Name" required />
        </div>
        <div class="form-field full">
            <label for="password">Card Number</label>
            <input type="password" id="password" name="password" placeholder="4111 1111 1111 1111" required />
        </div>
        <div class="form-field half first">
            <label for="expiry_month">Expiry *</label>
            <select id="expiry_month" name="expiry_month" required>
                <option>Month</option>
                {% for each in range(1, 13) %}
                <option val={{ each }}>{{each}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-field half">
            <label for="expiry_year">&nbsp;</label>
            <select id="expiry_year" name="expiry_year" placeholder="Expiry Year" required>
                <option>Year</option>
                {% for each in range(2000, 2050) %}
                <option val={{ each }}>{{each}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-field full">
            <label for="cvv">CVV</label>
            <input type="password" size="3" pattern="[0-9]{3}" id="cvv" name="cvv" placeholder="***" required />
        </div>
        <div class="half first">
            <a href="#" class="btn btn-brown btn-outline full" onclick="return showStep('step2')">Previous</a>
        </div>
        <div class="half">
            <a class="btn btn-brown btn-solid full" href="{{ url_for('enter_exposure_page') }}">Next</a>
        </div>
    </div>
</div>
{% endblock %}