{% extends 'base_page.html' %}

{% block content %}
<div class="step active" id="step1">
    <h3>Enter Exposure</h3>
    <div class="form-wrapper">
        <div class="exposure-table">
            <table id="exposure-table">
                <thead>
                    <tr>
                        <td>Short Currency</td>
                        <td>Long Currency</td>
                        <td>Amount In Base Currency (USD)</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <select name="short[]" class="mute">
                                {% for each in rates %}
                                <option val={{ each }}>{{each}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select name="long[]" class="mute">
                                {% for each in rates %}
                                <option val={{ each }}>{{each}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input type="number" name="amount[]" class="mute" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="hidden" id="exposure_row_hidden"
                value='<tr><td><select name="short[]" class="mute">{% for each in rates %}<option val={{ each }}>{{each}}</option>{% endfor %}</select></td><td><select name="long[]" class="mute">{% for each in rates %}<option val={{ each }}>{{each}}</option>{% endfor %}</select></td><td><input type="number" name="amount[]" class="mute"></td></tr>' />
        </div>
        <div class="half first"><a href="#" class="btn btn-brown btn-outline full" onclick="addExposureRow()"><img
                    src="./static/images/plus.png" alt="Save" />Add Row</a></div>
        <div class="half"><a href="#" class="btn btn-blue btn-solid full">Upload CSV</a></div>
        <div class="clearfix"></div>

        <h4>Choose Time Horizon</h4>
        <div class="form-field half first">
            <label for="time_horizon">Time Horizon</label>
            <select id="time_horizon" name="time_horizon">
                <option val="90days">90 Days</option>
                <option val="60days">60 Days</option>
                <option val="30days">30 Days</option>
            </select>
        </div>
        <div class="clearfix"></div>
        <h4>Choose Confidence Level</h4>
        <div class="form-field half first">
            <label for="confidence_level">Confidence Level</label>
            <select id="confidence_level" name="confidence_level">
                <option val="95%">95%</option>
                <option val="90%">90%</option>
                <option val="85%">85%</option>
            </select>
        </div>
        <div class="clearfix"></div>
        <div class="half first"><a href="#" class="btn btn-green btn-outline full"><img src="./static/images/save.png"
                    alt="Save" />Save</a></div>
        <div class="half"><a href="#" class="btn btn-brown btn-solid full"><img
                    src="./static/images/calculator-icon.png" alt="Calculate" />Calculate</a></div>
    </div>
</div>
{% endblock %}