{% extends 'base_page.html' %}

{% block content %}
<div class="step active" id="step1">
  <h3 class="mb-2">Exposure Heat Map</h3>

  <div id="container" class="border border-theme rounded-lg">
    <div class="loading">
      <i class="icon-spinner icon-spin icon-large"></i>
      Loading data from Google Spreadsheets...
    </div>
  </div>

  <br />

  <a href="#" class="btn bg-theme text-white full">
    View Full Screen
  </a>

  <br /><br />

  <a href="{{ url_for('report_page', type='table') }}" class="btn btn-brown btn-outline full">
    View VAR Report
  </a>
</div>

<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="https://code.highcharts.com/mapdata/custom/world.js"></script>
<script src="https://code.highcharts.com/modules/heatmap.js"></script>
<script src="https://code.highcharts.com/modules/coloraxis.js"></script>
<script type="text/javascript">
  // possible currency codes
  const currencyCodes = ['GBP', 'HKD', 'IDR', 'ILS', 'DKK', 'INR', 'CHF', 'MXN', 'CZK', 'SGD', 'THB', 'HRK', 'EUR', 'MYR', 'NOK', 'CNY', 'BGN', 'PHP', 'PLN', 'ZAR', 'CAD', 'ISK', 'BRL', 'RON', 'NZD', 'TRY', 'JPY', 'RUB', 'KRW', 'USD', 'AUD', 'HUF', 'SEK'];
  // countries by currency
  const codeToCountry = {
    "AUD": ["AUS"],
    "BRL": ["BRA"],
    "CAD": ["CAN"],
    "CHF": ["CHE", "LIE"],
    "CNY": ["CHN"],
    "CZK": ["CZE"],
    "DKK": ["DNK", "FRO", "GRL"],
    "EUR": ["PRT", "NLD", "FIN", "DEU", "BEL", "LUX", "LTU", "GRC", "AUT", "ESP", "FRA", "ITA"],
    "GBP": ["GBR"],
    "HKD": ["HKG"],
    "HRK": ["HRV"],
    "HUF": ["HUN"],
    "IDR": ["IDN"],
    "ILS": ["ISR"],
    "INR": ["BTN", "IND"],
    "ISK": ["ISL"],
    "JPY": ["JPN"],
    "KRW": ["KOR"],
    "MXN": ["MEX"],
    "MYR": ["MYS"],
    "NOK": ["NOR"],
    "NZD": ["NZL"],
    "PHP": ["PHL"],
    "PLN": ["POL"],
    "RON": ["ROU"],
    "RUB": ["RUS"],
    "SEK": ["SWE"],
    "SGD": ["SGP"],
    "THB": ["THA"],
    "TRY": ["TUR"],
    "USD": ["USA"]
  };

  // sample data we should get from exposure page
  let sampleData = { "GBP": 1000, "MXN": 500, "EUR": 2000, "JPY": 1000, "CNY": 600, "PHP": 500, "BRL": 200, "DDD": 500 };

  // make chart data from sample data
  function makeChartData(sampleData) {
    let res = [];
    Object.keys(sampleData).forEach(function (key) {
      if (codeToCountry[key]) {
        let countries = codeToCountry[key];
        console.log(countries);
        countries.forEach(function (country) {
          let tmp = {};
          tmp['code'] = country;
          tmp['value'] = sampleData[key];
          tmp['name'] = country;
          console.log(tmp);
          res.push(tmp);
        })
      }
    })
    return res;
  }

  let data = makeChartData(sampleData);

  // draw highchart map
  Highcharts.mapChart('container', {
    chart: {
      map: 'custom/world',
      backgroundColor: '#fff9f9',
    },

    colors: ['rgba(19,64,117,0.05)', 'rgba(19,64,117,0.2)', 'rgba(19,64,117,0.4)',
      'rgba(19,64,117,0.5)', 'rgba(19,64,117,0.6)', 'rgba(19,64,117,0.8)', 'rgba(19,64,117,1)'],

    title: {
      text: 'Exposure Heatmap'
    },
    mapNavigation: {
      enabled: true
    },
    legend: {
      title: {
        text: 'Currency Conversion',
        style: {
          color: ( // theme
            Highcharts.defaultOptions &&
            Highcharts.defaultOptions.legend &&
            Highcharts.defaultOptions.legend.title &&
            Highcharts.defaultOptions.legend.title.style &&
            Highcharts.defaultOptions.legend.title.style.color
          ) || 'black'
        }
      },
      align: 'left',
      verticalAlign: 'bottom',
      floating: true,
      layout: 'vertical',
      valueDecimals: 0,
      backgroundColor: '#fff9f9',
      symbolRadius: 0,
      symbolHeight: 14
    },

    colorAxis: {
      dataClasses: [{
        to: 100
      }, {
        from: 100,
        to: 300
      }, {
        from: 300,
        to: 500
      }, {
        from: 500,
        to: 800
      }, {
        from: 800,
        to: 1000
      }, {
        from: 1000,
        to: 2000
      }, {
        from: 2000
      }]
    },

    series: [{
      data: data,
      joinBy: ['iso-a3', 'code'],
      animation: true,
      shadow: false
    }]
  });

</script>
{% endblock %}