{% extends 'base_page.html' %}

{% block content %}
<div class="step active" id="step1">
  <h4 class="mx-2">Risk Minimiser - Trade Tool Suggestion</h4>
  <div class="row">
    <div class="col-4">
      <div class="card element-border mx-2 p-2 text-center">
        Current VaR
        <h4>132.678</h4>
      </div>
    </div>
  </div>
  <div class="mr-3 mb-3 border border-theme bg-white rounded-pill float-right row">
    <a
      href="{{ url_for('suggestion_tool_page', number=1) if number != 1 else '#' }}" 
      class="img-icon {{ 'col-9 rounded-pill bg-theme text-white' if number == 1 else 'col-3 text-theme' }}"
    >
      <strong>{{ "Scenario " if number == 1 else "" }}1</strong>
    </a>
    <a 
      href="{{ url_for('suggestion_tool_page', number=2) if number != 2 else '#' }}"
      class="img-icon {{ 'col-9 rounded-pill bg-theme text-white' if number == 2 else 'col-3 text-theme' }}"
    >
      <strong>{{ "Scenario " if number == 2 else "" }}2</strong>
    </a>
  </div>
  
  <div class="form-wrapper">
    <div class="exposure-table">
      <table id="exposure-table" class="full">
        <thead>
          <tr>
            <td>Buy</td>
            <td>Sell</td>
            <td>Amount</td>
            <td>Tenor</td>
          </tr>
        </thead>
        <tbody>
          {% for row in [
            ["CAD", "USD", 850.000, "90 Days"],
            ["EUR", "USD", "", ""],
            ["JPY", "EUR", "", ""],
            ["HUF", "CAD", 400.000, "90 Days"],
          ] %}
          <tr>
            {% for cell in row %}
            <td class="text-center py-3"><strong>{{ cell }}</strong></td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <br />
      <div class="container fluid">
        <div class="row full my-2">
          <div class="col-9">Current VaR</div>
          <div class="col-3 text-right">
            <strong>132.678</strong>
          </div>
        </div>
        <div class="row full my-2">
          <div class="col-9">Scenario {{ number }} VaR Reduction</div>
          <div class="col-3 text-right text-theme">
            <strong>-105.000</strong>
          </div>
        </div>
        <div class="divider"></div>
        <div class="row full my-2">
          <div class="col-9">VaR after Scenario {{ number }}</div>
          <div class="col-3 text-right">
            <strong>132.678</strong>
          </div>
        </div>
      </div>
      <br /><br />
      <a href="#" class="btn btn-brown btn-outline full">
        Compare Rates
      </a>
    </div>
  </div>
</div>
{% endblock %}